<div class="text-center">

<h1> Cocktails </h1>
  <ul>
    <%= link_to "criar cocktail", new_cocktail_path , class: "btn btn-primary" %>
    <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %> <%= link_to "ver", cocktail_path(cocktail) %></li>

    <% end %>
 </ul>
</div>